# gitconfig
#

[hub]
  protocol = https
[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDHw4EoXV7y51YUTw8RbCBi2lB5gN7Xy2dFTog3r8Wsi
[credential]
  helper = GIT_CREDENTIAL_HELPER
[alias]
  lg = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = vim
[init]
	templatedir = ~/.git_template
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true

