{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

{{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/scripts-library.sh") -}}

{{ $current_shell := env "SHELL" -}}
{{ if eq $current_shell "/opt/homebrew/bin/zsh" -}}
    exit 0
{{ end }}

if ask_user "Change default shell to zsh?"; then
    current_user=$USER
    echo "Changing shell for current user to zsh"
    sudo chsh -s "$(brew --prefix)"/bin/zsh $current_user
fi

{{ end -}}
